<div class="container">

    <h2>Users list: </h2>

    <div>
        <button class="btn btn-success" routerLink="/createUser">Create User</button>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Bold</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of arrayUsers">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.bold }}</td>
                <td id="btns">
                    <button class="btn btn-primary btn-sm"  routerLink="/editUser" (click)="editUser(user)">Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>